body {
    font-size: 15pt;
}

h1 {
    color:blue;
    font-size:30pt;
    text-align: center;
}

h2 {
    color:green;
    text-align: center;
    background-color: yellow;
    
}

p {
    color:red;
    text-align: center;
    font-weight: bold;
    
}
 .header {
     
     background-color: lightblue;
 }
 .a {
     background-color: pink;
 
   
 }

button{
    
    background-color: red;
    align-items: center;
    margin: 20px;
    color: white;
    
    width: 250px;
    
    height: 60px;
    
    font-size: 22px;
    
    border: 5pt;
    
    border-radius: 15px;
}